/**
 * @module          Signup
 * @author          cms-lab
 * @copyright       2014-2018 cms-lab
 * @link            http://www.cms-lab.com
 * @license         GNU GPL http://www.gnu.org/licenses/gpl-3.0.en.html
 * @license_terms   none
 *
 */
 

div.result_message {
	color: #990000;
	font-size: 12px;
	font-weight: bold;
}

#register_header_container  {
    background: none repeat scroll 0 0 transparent;
    margin: 0 auto;
    width: 100%;
}

#navi_header {
    border-bottom: 1px solid silver;
    height: 53px;
}

#top_menu {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    width: auto;
}

#register_content_container  {
    margin: 0 auto 24px;
	max-width:750px;
}
 
fieldset {
    margin-bottom: 1em !important;
    padding: 1em 1.5em 1.5em 2em !important;
    width: 100% !important;
}

legend {
    color: #005447;
    font-weight: bold;
    margin-left: 0;
	padding: 10px;
}

label {
    color: #005447 !important;
}

.spacer {
    height: 20px;
	width:100%;
}

.ui.form .field  {
    margin: 0 0 0.6em;
}

.ui.checkbox.custom_checkbox {
    font-size: 0.8em;
    margin-top: 22px !important;
}

input[type="submit"], button[type="submit"], input.submit, button.submit {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    margin: 0;
    padding: 0;
	color: #fff !important;
}

input[type="reset"], button[type="reset"], input.reset[type="button"], input.reset, button.reset, span.button.reset, input.cancel[type="button"], input.cancel, button.cancel, span.button.cancel, input.delete[type="button"], input.delete, button.delete, span.button.delete {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, span.button:hover {
	border: 0px solid #666;
}

.ui.buttons .disabled.button, .ui.disabled.button, .ui.disabled.button.active, .ui.disabled.button:hover {
    background-color: #eeeeee !important;
    opacity: 0.8 !important;
}

img.module_icon {
padding-left:6%;
}

.spamschutz{
	display:flex;
}

.captcha_table{
	margin-top:-10px;
}

.captcha_input {
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 150px !important;
    vertical-align: sub !important;
	white-space: nowrap !important;
}

a.agb {
	color: orange;
	text-decoration: underline;
}

a:hover.agb {
	color:#333;
}

/*   style frontend pw_genrator               */
.pw_generator {
	margin: 0 auto !important;
	max-width: 500px !important;
} 
